<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">TextInterview</a>
        <div class="navbar-collapse collapse show" id="navbarColor02">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/index/">
                        Question
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        TextInterview
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/">
                        SignUp
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
